<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dliberty.cms.dao.mapper.CmsMenuBannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dliberty.cms.dao.mapper.CmsMenuBannerMapper">
        <id column="id" property="id" />
        <result column="banner_name" property="bannerName" />
        <result column="banner_url" property="bannerUrl" />
        <result column="redirect_type" property="redirectType" />
        <result column="banner_img" property="bannerImg" />
        <result column="sort" property="sort" />
        <result column="banner_type" property="bannerType" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, banner_name, banner_url, redirect_type, banner_img, sort,banner_type, is_deleted, create_time, update_time
    </sql>

</mapper>
